/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree .
*/

.modal-lg {
  max-width: 600px;
}

.modal-image {
  display: block;
  margin: 0 auto;
  width: 110%;
  max-width: 530px;
}

.modal-content {
  padding: 30px;
}

.thumbnail > img {
  cursor: pointer;
}
